<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>
<body>
    <div class='page'>
        <div class='section header'>
            <h4><%= title %></h4>   
        </div>
        <div class='section card1'>
            <h6>Experiencia Laboral</h6>
            <ul>
                <li>Ventas - StareVie The Store</li>
                <li>Aprendiz de Mecanico - Taller don Pepe</li>
            </ul>
        </div>
        <div class='section card2'>
            <h6>Educacion</h6>
            <ul>
                <li>Ing. Ciencias de la Computacion - UVG 2021</li>
                <li>Bachiller en Ciencias y Letras - Colegio Internacional Montessori</li>
            </ul>
        </div>
        <div class='section card3'>
            <h6>Lenguajes de Programacion</h6>
            <ul>
                <li>C#</li>
                <li>Java</li>
                <li>Javascript</li>
                <li>Python</li>
            </ul>
        </div>
    </div>
</body>
<footer>
    <h6>Creado por Sebastian Arriola</h6>
</footer>
</html>