* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    body, .section.header {
      background-color: #F09A9D;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body, .section.header {
      background-color: #F5CF8E;
    }
    .section.card1, .section.card2 {
        width: 50%;
    }
  }
  
  /* Desktop Styles */
@media only screen and (min-width: 961px) {
    .section.header {
        background-color: rgb(164, 240, 154);
    }
    .page, footer {
      width: 960px;
      margin: 0 auto;
    }
    .section.card1,
    .section.card2,
    .section.card3 {
      width: 33.3%;
    }
  }

.page {
    display: flex;
    flex-wrap: wrap;
}
  
.section {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.header {
    background-color: #B2D6FF;
    height: 75px;
}
  
.card1 {
    background-color: #EAEDF0;
}

.card2 {
    background-color: rgb(164, 226, 175)
}

.card3 {
    background-color: rgb(159, 189, 230)
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 88);
    color: white;
    height: 100px;
}